/* _appearances.scss, provides styling for classes. */
html {
  background-image: url("../images/background_tile.jpg");
  background-repeat: repeat; 
}

.product {
  order: 1;
  box-ordinal-group: 1;
  flex-order: 1;
	@include applyWiderThan($queen) {
    &  a { 
      background-color: mix($bg_red, white, 5%);
  	}
  }
  
  @include applyNarrowerThan($queen) {
  	&  a {
      background-color: mix($bg_red, white, 10%);
  	}
  }
  &  a:hover, & >  a:active {
    background-color: mix($bg_red, white, 15%);
  }
}

.support {
  order: 2;
  box-ordinal-group: 2;
  flex-order: 2;  
  @include applyNarrowerThan($queen) {
    &  a {
      background-color: mix($bg_blue, white, 5%);
      
    }
  }
  
  @include applyWiderThan($queen) {
    &  a {
      background-color: mix($bg_blue, white, 10%);
    }
  }
  
  &  a:hover, & > a:active {
      background-color: mix($bg_blue, white, 15%);
  }
}


.button {
  border: none;
  font-weight: 800;
  color: rgba(0,0,0, .3);
  font-size: 3rem;
  
  width: 99%;
  padding: 2rem;
  text-align: center;
  line-height: 2.2rem;
  border-radius: .6rem;
  @include applyWiderThan($queen) {
  	border-radius: .375rem;
  	font-size: 2rem;
  	padding: 1rem; }
  
  text-decoration: none;
  text-shadow: none; 
  transition: 0.25s;
  backface-visibility: hidden;
  appearance: none;
}

.login {
	@include buttonGradient($bg_blue);
	@include shadow(mix($bg_pink, black, 60%));
}

.message {
	margin: .5rem -.5rem;
  padding: .5rem;
  border: 2px solid rgba(mix($bg_pink, black, 80%), .3);
  border-left: none;
  border-right: none;
  @include shadow(rgba(mix($bg_pink, black, 70%), .4), inset);
  background-color: mix($bg_pink, white, 90%);
  text-align: left;
}

.error {
  @include shadow(mix($bg_red, black, 30%), inset, 2px, 2px, 10px) ;
  border: mix($bg_red, black, 50%);}
  
.required {
  @include shadow(mix($bg_red, black, 60%), inset, 2px, 2px, 10px);
  border: mix($bg_red, black, 60%); }
