/* _structure.scss  provides structural elements for layout. */
  
html {
  height: 99%;
  font-size: 16px; 
  @include applyNarrowerThan($king) {
    font-size: 10px;
  } 
}

body {
  height: 100%;
}

#screen {
  position: absolute;
  background-color: $bg_pink;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $front;
	cursor: pointer;
  display: none;
  
  &.open {
  	display: block;
    cursor: progress;
  }
}

.greeting, .parting {
	z-index: $mid;
	color: $text_dark;
  position: absolute;
  width: 30rem;
  left: 50%;
  margin-left: -16rem;
  @include applyNarrowerThan($queen) {
    margin-left: -15rem;
  }
  text-align: center;
  @extend %droppedField;
  background-color: white;
  
}


.greeting {
  padding-bottom: 2rem;
  padding-top: 4rem;
  top: -.25rem;
  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  
  & ul {
    margin: -4rem 0 2.5rem;
    &:after {
      opacity: .1;
      position: absolute;
      content: '';
      width: 90%;
      height: 0;
      left: 5%;
      top: 31%;
      border-top: 1px solid white;
      border-bottom: 1px solid black; }
  }
  
  & .icon {
  	width: 2rem;
    display: inline-block;
    margin: 0 2rem;
    position: relative;
    outline: none;

  	& a {
  		@extend %iconButton;
  		border: none;
  		&:after {
  		  border: none;
		  }

    }
  }
  
  & h1 {
    @include titleFont();
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 4rem;
   }
  & blockquote {
    @include titleFont();
    font-size: 1.5rem;
    position: absolute;
    top: 8rem;
    left: 9rem;
    }
}

.parting {
  @include bodyFont();
  
  bottom: 0;
  
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 7.5em;
  padding: 2em 1em 1em;
  
}

.container {
	@include bodyFont();
	z-index: $back;
  
  top: 2rem;
  left: 50%;
  width: 93.25rem;
  margin-left: -46rem;
  @include applyNarrowerThan($queen) {
    width: 70rem;
    margin-left: -35rem;
  }
  
  @include applyNarrowerThan($pawn) {
    width: 0;
    margin: 0;
  }
  
  @include applyWiderThan($queen) {
    position: absolute; }
  
  bottom: 1rem;   
}

.navbar {
	z-index: $front;
  margin-top: 0;
  position: absolute;
  width: 16rem;
	background: none;
	border: none;
  transition: left 1s;


  @include applyNarrowerThan($queen) {
	  left: .5rem;
    top: 50%;
    margin-top: -285px;
    height: 570px;   }

  @include applyNarrowerThan($pawn) {
    left: 50%;
    top: 50%;
    margin-top: -210px;
    height: 420px;
    margin-left: -80px;
    text-align: center;   }
  
  @include applyWiderThan($queen) {
  	margin-top: -1.9rem;
  	width: 100%;    }
  
  &.closed {
   @include applyNarrowerThan($queen) {
   left: -16rem !important; } 
   
   @include applyNarrowerThan($pawn) {
   left: -8rem !important; }}
   
  
  & ul {
  	position: absolute;
  	display: block;
    height: auto;

    @include applyNarrowerThan($queen) {
    	height: 10%; 
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
    
    @include applyNarrowerThan($pawn) {
      margin-left: .5rem;
      margin-top: -.5rem; }
    
  }
  
  & ul li {
    margin-bottom: .25rem;
  	padding: 0;
  	position: relative;
    display: block;
    width: 99%;
    flex: 0 0 99%;

  @include applyWiderThan($queen) {
    	display: inline-block;

      &:nth-of-type(3), &:nth-of-type(8) {
       margin-left: 31rem;
     }
    }
    
  	& a {
  		text-align: center;
      @extend %droppedField;
      color: mix($bg_pink, black, 20%);
      padding: .1rem .75rem;
      transition: background-color .3s, color .3s, text-shadow .3s;
  	  @include titleFont{};
        font-size: 1.75rem;
      @include applyNarrowerThan($queen) {
        padding: 1.5rem .75rem;
        border: none;
	      @include shadow(mix($bg_pink, black));
	      
      }
      
      @include applyNarrowerThan($pawn) {
      	padding: .75rem;
      	
      }
      @include applyWiderThan($queen) {
        font-size: 1.5rem;
        padding: .4rem;
      }
    }
    &.widest {
      width: 15rem;}
    
    &.wide {
      width: 14rem;
      @include applyNarrowerThan($queen) {
      width: 15rem; }}
    
    &.narrow {
      width: 12rem;
      @include applyNarrowerThan($queen) {
        width: 15rem; }}
    
    &.narrower {
      width: 13rem;
      @include applyNarrowerThan($queen) {
         width: 15rem;}}
    
    &.narrowest {
      width: 7rem;
      @include applyNarrowerThan($queen) {
        width: 15rem; }}
  }
}

#menuButton {
	@extend %droppedField;
	z-index: $mid;
	right: -1.5em;
 @extend %iconButton; 
 top: 50%;
 left: auto;
 margin-top: -1em;
 background-color: mix($bg_pink, white, 2%);
 border-radius: 100%;
 padding: 2rem 1rem 2rem .25rem;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 
 
 &:after {
   content: "";
   @include shadow(mix($bg_pink, black, 60%)); 
   width: 3.6rem;
   height: 6.25rem;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 0 100% 100% 0;
   
   }
 
 @include applyWiderThan($queen) {
 display: none;}
}


#loginForm {
	z-index: $front;
  position: absolute;
  width: 22rem;
  height: 26.75rem;
  margin-left: -11rem;
  @include applyWiderThan($queen) {
   margin-left: -12rem;
  }
  margin-top: -13.375rem;
  top: 50%;
  left: 50%;
  
    
  & .textWidget, & .submitWidget, & .titleFrame {
    position: relative;
  	width: 98%;
    margin: .25rem;
    text-align: center;
    padding: .5rem;
  }
  
  & .textWidget, & .titleFrame {
    @extend %droppedField;
  	background-color: white;
  	&:after, &:before  {
  		position: absolute;
  		z-index: $midfront;
  		left: 0;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		content: "";   	}
  	
  	&:after {
  	 @include shadow(mix($bg_pink, black, 60%)); }
  	 
  } 
  & .textWidget .contentFrame {
    position: relative;
    z-index: $front;     }
 
  & .textWidget {
      & label, & input {
      @include bodyFont();
      font-size: 1.2rem; }
      
      & input {
      padding: .25rem 1rem;
      width: 90%;} } 

  & .titleFrame {
    & H2 {
      @include titleFont; 
      font-weight: 600;
      margin-bottom: .125rem; }
    & p {
      line-height: 1.25rem;
      padding: 0 1rem; 
      text-align: left;
      margin-bottom: .25rem; }
  } 
}